name: Publish

on:
  push:
    branches:
      - main
      - test-deploy

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '19'
        check-latest: true
    - run: npm install --production
    - run: CHROME=1 npm run stage
    - run: |
        sed --in-place 's/"name": "\(.*\)"/"name": "\1 - QA version"/' build/manifest.json
    - run: zip -r language-settings-manager.stage.zip build/*
    - uses: Passiverecords/chrome-extension-upload-action@1.4.1
      name: Release Stage
      id: release-stage
      with:
        refresh-token: '${{ secrets.CHROME_WEBSTORE_REFRESH_TOKEN }}'
        client-id: '${{ secrets.CHROME_WEBSTORE_CLIENT_ID }}'
        client-secret: '${{ secrets.CHROME_WEBSTORE_CLIENT_SECRET }}'
        file-name: './language-settings-manager.stage.zip'
        app-id: 'kbigminlcdmikfhdkfjcmocnjhkikhpp'
        publish: false
    - run: rm -r build/*
    - run: CHROME=1 npm run prod
    - run: zip -r language-settings-manager.prod.zip build/*
    - uses: Passiverecords/chrome-extension-upload-action@1.4.1
      name: Release Prod
      id: release-prod
      with:
        refresh-token: '${{ secrets.CHROME_WEBSTORE_REFRESH_TOKEN }}'
        client-id: '${{ secrets.CHROME_WEBSTORE_CLIENT_ID }}'
        client-secret: '${{ secrets.CHROME_WEBSTORE_CLIENT_SECRET }}'
        file-name: './language-settings-manager.prod.zip'
        app-id: 'eipobogihmlkhppcgkcgcocccpcjcegj'
        publish: false
    - run: rm -r build/*
    - run: FIREFOX=1 npm run prod
    - run: cd build && zip -r language-settings-manager.prod.xpi * && cd ..
    - uses: trmcnvn/firefox-addon@v1
      with:
        # uuid is only necessary when updating an existing addon,
        # omitting it will create a new addon
        uuid: '{0d2e7142-9bce-4a7e-9ff9-19251eee83ec}'
        xpi: build/language-settings-manager.prod.xpi
        manifest: build/manifest.json
        api-key: ${{ secrets.FIREFOX_API_KEY }}
        api-secret: ${{ secrets.FIREFOX_API_SECRET }}
    - name: Get current version
      id: version
      run: echo "::set-output name=version::v"$(jq -r .version build/manifest.json)
    - name: Tag release
      id: tag-release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.version.outputs.version }}
        release_name: Release ${{ steps.version.outputs.version }}
    - name: Upload Prod Asset
      id: upload-release-asset-prod
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.tag-release.outputs.upload_url }}
        asset_path: ./language-settings-manager.prod.zip
        asset_name: language-settings-manager.prod.zip
        asset_content_type: application/zip
